.form-container{
  width: 30%;
}

.text-center{
  padding-bottom: 2px;
}
@media screen and  (max-width: 1000px){
  .form-container{
      width: 45%;
  }
}

@media screen and (max-width: 700px){
  .form-container{
      width: 65%;
  }
}